.AdvantageHeadline{
    .adeventageTitle{
        display: flex;
        flex-direction: column;
        width:50%;
        justify-content: center;
        margin:auto;
    }
    div{
        .headerLine{
            font-size:30px;
            font-weight: bold;
        }
    }
    .AdeventageCards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:10px;
        .cardBox{
            background-color:#f1f1f1;
            opacity:80%;
            width:230px;
            transition: all 0.5s ease;
            &:hover{
                background-color:#a9bde0;;
                cursor: pointer;
                border-radius: 30px;
            }
        }
    }

}

@media all and (max-width:500px){
    .AdvantageHeadline{
        .adeventageTitle{
            display: flex;
            flex-direction: column;
            width:100%;
            justify-content: center;
        }
        div{
            .headerLine{
                font-size:30px;
                font-weight: bold;
            }
        }
        .AdeventageCards{
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
            gap:10px;
        }
    
    }
}