.AdvantageHeadline{
    padding: 30px 0;
    background-color: #dce5f5;
    .adeventageTitle{
        display: flex;
        flex-direction: column;
        width:50%;
        justify-content: center;
        margin:auto;
    }
    div{
        .headerLine{
            font-size:30px;
            font-weight: bold;
        }
    }
    .AdeventageCards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:10px;
        padding:0 20px;
        .cardBox{
            background-color:#fff;
            width:230px;
            transition: all 0.5s ease;
            &:hover{
                background-color:#a9bde0;;
                cursor: pointer;
                border-radius: 30px;
            }
        }
    }

}

@media all and (max-width:500px){
    .AdvantageHeadline{
        .adeventageTitle{
            display: flex;
            flex-direction: column;
            width:100%;
            justify-content: center;
        }
        div{
            .headerLine{
                font-size:30px;
                font-weight: bold;
            }
        }
        .AdeventageCards{
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
            .cardBox{
                background-color:#fff;
                width:100%;
                transition: all 0.5s ease;
                &:hover{
                    background-color:#a9bde0;;
                    cursor: pointer;
                    border-radius: 30px;
                }
            }

        }
    
    }
}