.AdvantageHeadline{
    padding: 100px 0px 40px 0px;
    background-color: #dce5f5;
    .adeventageTitle{
        
        p{
            text-align: center;
            padding-bottom: 40px;
            width:50%;
            margin:auto;

        }
        .headerLine{
            font-size:30px;
            font-weight: bold;
            color:#37517e;
            text-align:center;
    }
    }
    .AdeventageCards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:10px;
        padding:0 20px;
        .cardBox{
            background-color:#fff;
            width:230px;
            transition: all 0.5s ease;
            &:hover{
                background-color:#cbd9f1;
                cursor: pointer;
                border-radius: 30px;
            }
        }
    }

}

@media all and (max-width:600px){
    .AdvantageHeadline{
        padding: 100px 30px 40px 30px;
        .adeventageTitle{
            width:100%;
            p{
                width:100%;
    
            }
        }
        .AdeventageCards{
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
            .cardBox{
                background-color:#fff;
                width:100%;
                transition: all 0.5s ease;
                &:hover{
                    background-color:#cbd9f1;
                    cursor: pointer;
                    border-radius: 30px;
                }
            }

        }
    
    }
}