.flexBox{
    position:relative;
    top:60px;
    background-color: #37517e;
    padding:0px 100px;
    // height:100vh; 
    .containerBox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
        .Respn{
            .para{
                padding-bottom: 20px;
                color:#fff;
                font-size: 20px;
            }
            .readMore{
                background-color: #142441;
                padding:14px 5px;
                margin-top:45px;
                color:white;
                width:170px;
                text-align: center;
                font-size:18px;
                transition: all 0.5s ease;
                border-radius: 5px;
                &:hover{
                    background-color: #7893c0;
                    color:black;
                    cursor: pointer;
                }
            }
        }
        .imgView{
            div {
                display: flex;
                justify-content: end;
                img{
                max-width: 95%;
                height: auto;

            }
        }
        }
    }
    .headerHeading{
        font-size:50px;
        font-weight: bold;
        color:white;
    }
    h5{
        color:white;
    }
}

@media all and (max-width:600px){
    .flexBox{
        background-color: #37517e;
        padding: 30px 30px;
        .containerBox{
            height: auto;
            .Respn{
                .para{
                    text-align: center;
                    padding-bottom: 30px;
                    color:#fff;
                    font-size: 17px;
                }
                .readMore{
                    background-color: #142441;
                    // padding:30x 30px;
                    margin:auto;
                    width:60%;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: #7893c0;
                        color:black;
                        cursor: pointer;
                    }
                }
            }

            .imgView{
                display: none;
            }
            
        }
        .headerHeading{
            font-size:45px;
            text-align:center;
            color:white;
            font-weight: lighter;
        }

    }
}



@media all and (max-width:900px){
    .flexBox{
        padding:30px 50px; 
        .imgView{
            div {
                display: flex;
                justify-content: end;
                img{
                max-width: 85%;
                height: auto;
                
            }
        }
    }
}
}