.AdvantageHeadline{
    .adeventageTitle{
        display: flex;
        flex-direction: column;
        width:50%;
        justify-content: center;
        margin:auto;
    }
    div{
        .headerLine{
            font-size:30px;
            font-weight: bold;
        }
    }
    .AdeventageCards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:10px;
    }

}