.AdvantageHeadline{
    .adeventageTitle{
        display: flex;
        flex-direction: column;
        width:50%;
        justify-content: center;
        margin:auto;
    }
    div{
        .headerLine{
            font-size:30px;
            font-weight: bold;
        }
    }
    .AdeventageCards{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:10px;
        .ServiceCardBox{
            border-radius: 0px;
            transition: all 0.5s ease;
            padding:0px 20px;
            .serviceBtn{
                background-color: #698cce;
                color:white;
                padding:8px;
                text-align: center;
                transition: all 0.5s ease;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                &:hover{
                    cursor: pointer;
                    background-color: #2d4675;
                }
            }
        }
    }

}

@media all and (max-width: 600px){
    .AdvantageHeadline{
        .adeventageTitle{
            width:100%;
            padding:0 30px;
        }
    }
}