.newProject{
    .inputSection{
        display: flex;
    }
}

@media all and (max-width:500px){
    .newProject{

        .inputSection{
            display: flex;
            flex-direction: column;
            margin:10px 70px;
            gap:10px;
        }
    }
}
