.newProject{
    padding:50px 70px;
    background-color: #fff;
    .title{
        .para{
            width:60%;
            margin:auto;
        }
    }
    .inputSection{
        display: flex;
        input[type="text"]{
            border:1px solid #b7c9e9;
            border-radius: 0;
            width: 100%;
        }
        .submit{
            background-color: #142441;
            padding:16px 20px;
            color:white;
            width:200px;
            text-align: center;
            font-size:15px;
            transition: all 0.5s ease;
            border-radius: 0px;
            &:hover{
                background-color: #7893c0;
                color:black;
                cursor: pointer;
            }
        }
    }
}

@media all and (max-width:600px){
    .newProject{
        padding:50px 30px;
        .title{
            .para{
                width:100%;
            }
        }
        .inputSection{
            display: flex;
            flex-direction: column;
            gap:10px;
            width:100%;
            input[type="text"]{
                border:1px solid #b7c9e9;
                border-radius: 0;
                width: 100%;
            }
            .submit{
                background-color: #142441;
                padding:15px 30px;
                margin-top:10px;
                color:white;
                width:100%;
                text-align: center;
                font-size:16px;
                transition: all 0.5s ease;
                border-radius: 5px;
                &:hover{
                    background-color: #7893c0;
                    color:black;
                    cursor: pointer;
                    border-radius:0px;
                }
            }
            
        }
    }
}
